@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: #fff!important;
}
.navbar a{
  font-size: 1.3rem;
}
.navbar a:hover{
  color: dodgerblue !important;
  text-decoration: underline!important;
}
.navbar-brand{
  font-size: 1.8rem !important;
  color:#338aff !important;

}
.is-active{
  text-decoration: underline;
  color:rgb(28, 128, 0);
}
.about-container{
  background: url("https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80");
  height: 80vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;

}
.typeString {
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: #338aff;
}